<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>19F875A6-65DE-4F02-8F2C-E32785BCB24E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54CF0437-1C78-4ED5-A1D5-403204BB9F33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>340EA516-97E0-4669-BADB-0FEC21853046</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72943152-9721-4966-84B2-47DFCEFA017D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tzungtzu Li</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Search HotKey</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

--判断selection是否是超链接
set mytext to q
if "://" is in mytext then
	set myurl to mytext
else
	set myurl to "https://www.google.com/search?q=" &amp; mytext
end if

--获取当前app 
tell application "System Events"
	set activeApp to name of first application process whose frontmost is true
	if "Google Chrome" is in activeApp then
	-- 当前Chrome  在背景页打开tab
		tell application "Google Chrome"
			set activeIndex to get active tab index of window 1
			tell window 1
				set newTab to make new tab with properties {URL:myurl}
			end tell
			set active tab index of window 1 to activeIndex
		end tell
	else
	---当前不是Chrome 在新页面打开tab 不用返回原页面
		tell application "Google Chrome"
				tell window 1
				set newTab to make new tab with properties {URL:myurl}
				end tell
		end tell
	end if
end tell


end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>54CF0437-1C78-4ED5-A1D5-403204BB9F33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>19F875A6-65DE-4F02-8F2C-E32785BCB24E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>2</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>340EA516-97E0-4669-BADB-0FEC21853046</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)


--在chrome的时候，对字符串进行搜索

--判断是否是超链接
set mytext to q
if "://" is in mytext then
	set myurl to mytext
else
	set myurl to "https://www.google.com/search?q=" &amp; mytext
end if


tell application "Google Chrome"
	activate
---	set activeIndex to get active tab index of window 1
	tell window 1
		set newTab to make new tab with properties {URL:myurl}
	end tell
	---set active tab index of window 1 to activeIndex
end tell

end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>72943152-9721-4966-84B2-47DFCEFA017D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>19F875A6-65DE-4F02-8F2C-E32785BCB24E</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>340EA516-97E0-4669-BADB-0FEC21853046</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>54CF0437-1C78-4ED5-A1D5-403204BB9F33</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>72943152-9721-4966-84B2-47DFCEFA017D</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>tzungtzu.github.com</string>
</dict>
</plist>
